/*

Base

*/

.navbar {
	background-color: #228B22;
	color: white;
	border-radius: 0px;
}

#logo, #logo:hover, .navbar-dark .navbar-brand {
	color: white;
}

.navbar-nav>li>a, .navbar-dark .navbar-nav .nav-link {
	color: white;
}

body {
  background:#F5FFFA;
}



/*

Content at the top of the view

*/

