{% extends 'base.html' %}
{% block title %}Add A Transaction Page{% endblock %}

{% block body %}
<style>
    .display-4{
        margin-top: 30px;
        margin-left: 15px;
        color: rgb(52, 51, 51)
    }
   
    .form-group {
      color: black
  
  }
</style>

<div class= "text-left" >
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 float-md-center">
        <h2 class="display-4 ">Add New Transaction </h2>
        <br>
        <form class="forms" name="transaction_form" action='/add_transaction' method="POST">

            <div class="container-fluid"> 
                <!-- Account_id form inputs required from user   -->    
                <div class="form-group row">
                    <label for="-input" class="col-2 col-form-label">Select Account</label>
                    <div class="col-10">
                        <select class="input-box" name="selected_account">
                            {% for account in accounts%}
                                {% if account.type == "depository" and account.available_balance != None %}   
                            <option type="text" name= "account_options" value= "{{ account.account_id }}" > {{ account.name }} ${{account.available_balance}} </option>
                                {% endif %}    
                            {% endfor %}
                        </select>
                    </div>
                </div>  
        
                <!-- Merchant name form inputs required from user   -->    
                <div class="form-group row">
                    <label for="-input" class="col-2 col-form-label"> Merchant Name </label>
                    <div class="col-10">

                        <input class="form-control" type="text" name="merchant_name" >
                    
                        <!-- <select class="input-box" name="merchant_name">
                            {% for merchant in merchants %}   
                            <option type="text" name= "{{ merchant }}" > {{ merchant.merchant_name }} </option>
                            {% endfor %}
                        </select> -->
                    </div>
                </div>  
                            

                <!-- Amount input required from user    -->
                <div class="form-group row">
                    <label for="example-number-input" class="col-2 col-form-label">Amount</label>
                    <div class="col-10">
                    <input class="form-control" type="number" step="any" name=amount placeholder="Remember to place negative sign before amount if expense" id="amount-input">
                    </div>
                </div>   

            <!-- Date input required from user    -->
                <div class="form-group row">
                    <label for="example-date-input" class="col-2 col-form-label"> Transaction Date </label>
                    <div class="col-10">
                        <input class="form-control" type="date" name=transaction_date id="end-date-input">
                    </div>
                </div>

            <!-- sumit form button    -->
                <br>     
                <div class="row justify-content-center">
                <button type="submit" class="btn btn-success btn-lg" name= "submit_add_transaction_form" value="Submit">Submit</button>
                </div>
            
             

            </div>
        </form>
    </div>  
</div>  

{% endblock %}