{% extends 'base.html' %}
{% block title %}App Guide Page{% endblock %}

{% block body %}
<div class="container-fluid">  
    <ol>
        <h2>New User Navigation:</h2>
        <li><h4> Click on add new back account and fill it out . </h4></li>
        <li><h4> Click on add new transaction and fill out form. You must fill out the add bank account form in order to add a new transaction. </h4></li>
        <li><h4> Finally click on view my budgets and create a budget!</h4></li>
        <li><h4> Monitor your budgets by clicking on view status for each budget. </h4></li>
    </ol>
</div>
{% endblock %}