{% extends 'base.html' %}
{% block title %}View All Budgets Page{% endblock %}

{% block body %}

        <div class= "text-center">
            <h2>{{user_name}}'s Garden</h2>
           
            <div class="col-lg-4 offset-lg-4">
                <table class="table table">
                    <thead>
                    <tr>
                        <th scope="col"class="bg-success"><h4> Living Trees </h4></th>
                        <th scope="col"class="bg-warning"><h4> Dead Trees </h4></th>
                    </tr>
                    </thead>
                    <tbody id="garden">
                            <tr>
                            <td class="table-success"> <h3>{{ count_alive }}</h3> </td>
                            <td class="table-warning"> <h3>{{ count_dead }}</h3> </td>
                            </tr>
                    </tbody>
                </table>  
            </div>     
        </div>     
        <br>

        <br>
        <div>
            <h3>Active Budgets</h3>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody id="get-budgets-data">
            {% for budget in budgets %}
                {% if budget.end_date >= date_now %}
                    <tr>
                    <td>
                        <form action="/budgets" method='POST'>
                            <button  class="submit-btn" name= "delete_budget" value= "{{ budget.budget_id }}" > Delete </button>
                        </form>
                    </td> 
                    <td> {{budget.merchant_name}} </td>
                    <td> ${{budget.spend_limit}} </td>
                    <td>  {{budget.start_date.strftime('%d-%m-%Y')}} </td>
                    <td>  {{budget.end_date.strftime('%d-%m-%Y')}} </td>
                    <td> <button class= "see_status" id= "{{ budget.budget_id }}">  View Status </button> </td>
            
                    </tr>
                
                {% endif %}
            {% endfor %}
            </tbody>
        </table> 
        <br>
        <div>
            <h3>Past Budgets</h3>
        </div>
        <br>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
                <th scope="col">Status</th>
            </tr>
            </thead>
            <tbody id="get-budgets-data">
            {% for budget in budgets %}
                {% if date_now > budget.end_date %} 
                    <tr>
                    <td> {{budget.merchant_name}} </td>
                    <td> ${{budget.spend_limit}} </td>
                    <td>  {{budget.start_date.strftime('%d-%m-%Y')}} </td>
                    <td>  {{budget.end_date.strftime('%d-%m-%Y')}} </td>
                    <td> <button class= "see_status" id= "{{ budget.budget_id }}" > View Status </button> </td>
                    </tr>
                {% endif %} 
            {% endfor %}
            </tbody>
        </table> 


<div class="row justify-content-center">
    <form action="/budgets" method='POST' >
        <input type="submit" name="create_budget_page" value="Create A New Budget"/>
    </form> 
</div>

<script>

// Ajax script to see status after clicking on "View Status"

$(".see_status").on("click", function(evt) {

    const url= `/budgets/${evt.target.id}`
    
    $.get(url, (data) => {
        var ID = parseInt(`${evt.target.id}`)
        $("#"+ID.toString()).text(data);
    });
});

</script>

{% endblock %}