{% extends 'base.html' %}
{% block title %}Overview Page{% endblock %}

{% block body %}


<!-- #comeback here to add transactions page button + make sure to find way to update balance (look into drop down for accounts in new transaction form) balance= prev balance-new transaction amount) -->
<div class="container-fluid">     


    <div class="container-fluid">
        <div class="text_left">
        <label class="balance_box_title"><h2> Accounts</h2></label>
        </div>
   
        <div class="content-center">
            {% for account in accounts %}
                {% if account.type == "depository" and account.available_balance != None %}
                <h5>{{account.name}}........${{account.available_balance}}</h5>
                {% endif %}  
            {% endfor %}
            <!-- <div class="text-left"> -->
            <form action="/overview" method='POST' >
                <input type="submit" name="add_account_page" value="Add New Bank Account"/>
            </form> 
            <!-- </div> -->
    </div>  


   
    <div class="row justify-content-center">
        <label class="Table_title"><h1>Transaction History</h1></label>
    </div>
    <div class="text-left">
        <input id="input" type="text" placeholder="Search..">
        
    </div>
    <div class="text-right">
        <form action="/overview" method='POST' >
            <input type="submit" name="add_transactions_page" value="Add New Transaction"/>
        </form> 
    </div>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody id="transactionTable">
                {% for t in transactions %}
                    <tr>
                    <td> {{t.merchant_name}} </td>
                    <td> {{t.amount}} </td>
                    <td>  {{t.date.strftime('%d-%m-%Y')}} </td>
                    <td>
                        <form action="/overview" method='POST' >
                            <input type="submit" class="submit-btn" name= "delete-transaction" id = {{t.transaction_id}} value="{{t.transaction_id}}">
                        </form>
                        </td> 
                    </tr>
                {% endfor %}
                </tbody>
            </table> 


     <div class="row justify-content-center">
        <form action="/overview" method='POST' >
            <input type="submit" name="budgets_page" value="View My Budgets"/>
        </form> 
    </div>
</div>    

<script>
// JQuery search 
$(document).ready(function(){
  $("#input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#transactionTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});

// Reordering transactions history table by date
$("tbody").each(function() { 
    var list = $(this).children('tr');
    $(this).html(list.get().reverse())
})


</script> 

{% endblock %}